Repository uiolee/hexo-workbox-build, changes with the labels that .github/labeler.yml gives for each.
All labels: code, doc, test, github, action, dependencies, dot

.github/labeler.yml:

code:
  - '**.js'
  - 'lib/**'

doc:
  - '**.md'

test:
  - 'test/**'

github:
  - '.github/*'

action:
  - '.github/workflows/**'

dependencies:
  - 'package*.json'

dot:
  - '.*'

repo config
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies, dot

first init
  index.js
  lib/buildWorkbox.js
  lib/generator.js
  lib/inject.js
  script.njk
Labels: code

docs
  README.md
Labels: doc

fix scope
  lib/inject.js
Labels: code

docs update
  README.md
  index.js
Labels: code, doc

package.json add npm scripts
  package.json
Labels: dependencies

chore
  lib/buildWorkbox.js
  lib/script.njk
Labels: code

1.0.1
  package-lock.json
  package.json
Labels: dependencies

add npm files key
  package.json
Labels: dependencies

1.0.2
  package-lock.json
  package.json
Labels: dependencies

Update README.md
  README.md
Labels: doc

run when server
  index.js
Labels: code

dependabot
  .github/dependabot.yml
Labels: github
