Repository uiolee/hexo-workbox-build, changes with the labels that .github/labeler.yml gives for each.
All labels: code, doc, test, github, github_actions

.github/labeler.yml:

code:
  - changed-files:
      - any-glob-to-any-file:
          - "**.js"
          - "lib/**"
          - "src/**"

doc:
  - changed-files:
      - any-glob-to-any-file:
          - "**.md"

test:
  - changed-files:
      - any-glob-to-any-file:
          - "test/**"

github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/*"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

feat: Use separate js to register sw
  .eslintrc.json
  README.md
  index.js
  lib/generator.js
  lib/inject.js
  lib/script.njk
Labels: code, doc

release: 1.1.0
  package.json
Labels: none

chore(deps): fix peerDependencies
  package.json
Labels: none

release: 1.1.1
  package.json
Labels: none

docs(README): update badges
  README.md
Labels: doc

ci(publish): improve workflow
  .github/workflows/package.js
  .github/workflows/publish.yml
  scripts/renamePackage.mjs
Labels: github_actions

chore: setting eslint, gitignore, tsconfig
  .eslintrc.json
  .gitignore
  tsconfig.json
Labels: none

migrate to typescripts
  assets/registerScript.njk
  index.js
  lib/buildWorkbox.js
  lib/generator.js
  lib/inject.js
  scripts/esb.mjs
  src/buildWorkbox.ts
  src/default_config.ts
  src/generator.ts
  src/index.ts
  src/inject.ts
Labels: code

update package
  package.json
  pnpm-lock.yaml
Labels: none

docs: README
  README.md
Labels: doc

ci: improve ci, publish. add creating Releases
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: github_actions

fix: fix wrong manifest path reference
  src/index.ts
  src/inject.ts
Labels: code

feat: custom registerScript injector string
  src/inject.ts
Labels: code

feat: custom manifestJson injector string
  src/inject.ts
Labels: code

release: 2.0.0-0
  package.json
Labels: none

ci: fix jobs need
  .github/workflows/ci.yml
Labels: github_actions

fix: bug caused by typo
  src/default_config.ts
  src/generator.ts
Labels: code

test: init jest
  jest.config.js
  jest.config.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: code

test: add test code
  test/default_config.test.ts
  test/generator.test.ts
  test/inject.test.ts
Labels: test

release: 2.0.0
  package.json
Labels: none

fix: ENOENT missing files
  package.json
Labels: none

release: 2.0.1
  package.json
Labels: none
