Repository uiolee/hexo-workbox-build, changes with the labels that .github/labeler.yml gives for each.
All labels: code, doc, test, github, github_actions

.github/labeler.yml:

code:
  - "**.js"
  - "lib/**"

doc:
  - "**.md"

test:
  - "test/**"

github:
  - ".github/*"

github_actions:
  - ".github/workflows/**"

1.0.3
  package.json
Labels: none

ci: update github workflows
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/package.js
Labels: github, github_actions

chore: npm config
  .npmrc
Labels: none

chore: update eslint, jest config
  .eslintrc.json
  jest.config.json
  test/.eslintrc.json
Labels: test

chore: use peerDependences && update package.json
  package.json
  pnpm-lock.yaml
Labels: none

style: apply recomment and prettier lint
  index.js
  lib/buildWorkbox.js
  lib/generator.js
  lib/inject.js
Labels: code

ci: update depenabot config
  .github/dependabot.yml
Labels: github

release: 1.0.4
  package.json
Labels: none
